[user]
	name = Haruka0522
	email = harukapc1@gmail.com
[color]
	ui = true
	diff = auto
	status = auto
	branch = auto
[core]
	editor = vim -c \"set fenc=uef-8\"
    pager = delta
[url "git@github.com:"]
	insteadOf = https://github.com/
[alias]
	co = checkout
	gr = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=iso
	st = status -sb
[interactive]
    diffFilter = delta --color-only
[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse
[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
