[user]
	name = Haruka0522
	email = harukapc1@gmail.com
[color]
	ui = true
	diff = auto
	status = auto
	branch = auto
[core]
	editor = vim -c \"set fenc=uef-8\"
[url "git@github.com:"]
	insteadOf = https://github.com/
