.config/nvim/dein/cache_vi
.config/nvim/dein/state_vi.vim
.config/nvim/dein/cache_vim
.config/nvim/dein/state_vim.vim
.config/nvim/dein/repos/github.com/*
.config/nvim/dein/.cache/*
.config/nvim/cache_vim
.config/nvim/dein/*
